/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
/*navigation bar*/
.navbar{
padding-bottom: 4.5rem;
color: #333;
}
.navbar-toggler{
color: #333;
}
.navbar-brand{
font-family: 'Sacramento', sans-serif;
color: white ;
font-size: 2rem;
font-weight: bold;
}
.nav-item{
padding: 0 18px;
}
.nav-link{
font-family:'Montserrat';
font-weight: 100;
font-size: 1.2rem;
}
